<div class="heroes-header">
    <div class="header-left">
        <a routerLink="/" class="header-home">英雄系列</a>
    </div>
    <div class="header-right">
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" routerLink="/messages">短信列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>
